<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Leaderboard for <%= guild.guild_name %>
	</title>
	<meta name="description" content="Leaderboard for <%= guild.guild_name %>">
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<main>
		<div class="box">
			<div class="guildInfo">
				<img id="guildIcon" src="<%= guild.guild_icon %>" alt="Guild Icon">
				<h1 id="guildName">
					<%= guild.guild_name %>
				</h1>
			</div>
		</div>
		<div class="leaderboard">
			<% leaderboard.forEach((user, index)=> { %>
				<div class="user">
					<h1 class="userPosition">#<%= index + 1 %>
					</h1>
					<img class="userImage" src="<%= user.user_pfp %>" alt="User image for <%= user.user_name %>">
					<div class="userInfo">
						<h2 class="userName" title="@<%= user.user_name %>">
							<%= user.user_nickname %>
						</h2>
						<p class="userXP">XP: <%= user.xp.toLocaleString() %>
						</p>
						<p class="userXP">Level <%= user.user_level.toLocaleString() %> | <%= user.xp.toLocaleString() %>/<%= (user.xp + user.user_xp_needed_next_level).toLocaleString() %> points to next level (<%= user.user_progress_next_level %>%)
						</p>
					</div>
				</div>
				<% }) %>
		</div>
	</main>
</body>

</html>
